* {
  box-sizing: border-box;
  margin: 0;
}

.light {
  /* background-color: #fff; */
  color: #000;
}

/* Dark mode */
.dark {
  background-color: #121212;
  color: #c7c7c7;
}

/* Menu items in light mode */
.menu__items.light {
  /* background-color: #fff; */
  color: #000;
}

/* Menu items in dark mode */
.menu__items.dark {
  background-color: #121212;
  color: #c7c7c7;
}

/* Light mode styles */
.menu__items.light .menu__item {
  color: black;
}

.menu__items.light .menu__item i {
  color: gray;
}

/* Dark mode styles */
.menu__items.dark .menu__item {
  color: #c7c7c7;
}

.menu__items.dark .menu__item i {
  color: lightgray;
}

.light .icon__link i {
  color: black;
}

.dark .icon__link i {
  color: lightgray;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.hamburger__menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 25%;
  justify-content: flex-start;
  margin-right: 1em;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: #aeabab;
  border-radius: 0.5em;
  padding:4px;
  margin-bottom: 5px;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out,
    background-color 0.5s ease-out;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.15em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(0em, .67em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu__items {
  list-style-type: none;
  margin: 5px;
  padding: 6px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 20px;
}

.menu__items li {
  margin-bottom: 1em;
}

.menu {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 15%;
  height: calc(100vh - 70px);
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.menu.visible {
  transform: translateX(0%);
}

.header__left {
  display: flex;
  align-items: center;
  width: 50%;
}

.navbar__logo {
  margin-left: -100px;
  width: 100px;
  height: 30px;
}

.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar__rightIcons {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.navbar__rightIcons i {
  margin-left: 1em;
  font-size: 1.7em;
  padding: 5px;
}

.dark .burger-bar {
  background-color: #fff;
}

.dark .menu {
  background-color: #222;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.navbar__rightIcons i:hover {
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
}

.menu__items li:hover {
  background-color: rgb(242, 242, 242);
  border-radius: 0.5rem;
}

.icon__link {
  text-decoration: none;
}

.menu__items li {
  margin-bottom: 1.2rem;
  border-radius: 0.5em;
  padding: 0em;
}

.menu__items span {
  color: rgb(16, 15, 15);
}

.menu__items i {
  font-size: large;
  padding: 15px;
  color: black;
  background-color: transparent;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-left: 10px; 
}

@media only screen and (max-width: 768px) {
  .header__left {
    width: 50%;
  }

  .navbar__rightIcons {
    width: 50%;
  }

  .menu {
    width: 100%;
    height: 100vh;
  }

  .hamburger__menu {
    width: 10%;
  }

  .burger-bar {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .burger-bar.clicked:nth-child(2) {
    opacity: 0;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .menu__items li {
    margin-bottom: 2em;
  }
}
