* {
  margin: 0;
  box-sizing: border-box;
}

.hamburger__header {
  width: 100%;
  height: 100vh;
}

.hamburger {
  width: 100%;
  height: 5em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  border: 1px solid red;
}

.hamburger__menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: #aeabab;
  border-radius: 0.5em;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out,
    background-color 0.5s ease-out;
}

/* ------------- sliding menu ------------------ */

.menu {
  display: none;
}

.menu.visible {
  display: block;
}

.menu.hidden {
  display: none;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.navbar__logo {
  width: 100px;
  height: 100px;
}

.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar__rightIcons .fas.fa-video,
.navbar__rightIcons .fas.fa-bell,
.navbar__rightIcons .fas.fa-user {
  font-size: x-large;
  padding: 5px;
}

.hamburger__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__rightIcons {
  display: flex;
  gap: 10px;
}

.menu {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: -1;
}

.menu__items {
  margin-left: -1rem;
  margin-top: 1rem;
  width: 55%;
  list-style-type: none;
  cursor: pointer;
}

.menu__items li {
  margin-bottom: 1.2rem;
  border-radius: 0.5em;
}

.menu__items i {
  font-size: x-large;
  padding: 15px;
}

.menu__items li:hover {
  background-color: rgb(242, 242, 242);
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .menu__items {
    width: 15%;
  }
}
