.harold-container {
    position: relative;
    display: inline-block;
    padding: 30px;
  }
  
  .harold-container .text-overlay {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .harold-container:hover .text-overlay {
    opacity: 1;
  }

  .yasser-container {
    position: relative;
    display: inline-block;
    padding: 30px;
  }
  
  .yasser-container .text-overlay {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .yasser-container:hover .text-overlay {
    opacity: 1;
  }
  
  .keeanu-container {
    position: relative;
    display: inline-block;
    padding: 30px;
  }
  
  .keeanu-container .text-overlay {
    position: absolute;
    top: 35%;
    left: 72%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .keeanu-container:hover .text-overlay {
    opacity: 1;
  }

  .harold, .keeanu, .yasser {
    margin-left: -20px;
    border-radius: 5%;
    justify-content: justify;
   }

   .keeanu{
    border: 00.1px solid black;
   }
  
   .special-thanks{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: green;
    padding: 10px;
    width: 700px;
    text-align: justify;
   }
  