* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

.loading__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingTimer__title {
  margin: 50px 0;
}
